<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- Dieser Schlüssel ist für Application Insights-Ressource "CsgoTactics" in Ressourcengruppe "Default-ApplicationInsights-CentralUS"-->
  <InstrumentationKey>292a1fe0-928a-430e-9a7d-ee1f24400dda</InstrumentationKey>
</ApplicationInsights>